@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Poor+Story&family=Slackey&display=swap');

* {
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Caveat', cursive;
    background-color: rgba(199, 223, 255, 1);
    width:100vw;
    height: 300vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@keyframes emphasize {
    0%{
        transform:none;
    }
    50%{
        transform:scale(1.4);
    }
    100%{
        transform: none;
    }
}
.main-message{
    font-family: 'Slackey', sans-serif;
    
    font-size: 64px;
    font-weight: 700;
    color:rgba(188, 143, 255, 1);
    margin-bottom: 10px;
    animation:emphasize 1s ease-in-out infinite;
}
.main-message2{
    font-family: 'Poor Story', cursive;
    font-size: 71px;
    font-weight: 700;
    color:rgba(255, 143, 162, 1);
}
@keyframes moveEmoji {
    0%{
        transform: none;
    }
    50%{
        transform: rotateZ(360deg);
        transform: scale(3);
        transform: translateX(100vh);
    }
    100%{
        transform: translateX(-100vh);
    }
}
.emoji{
    font-size:50px;
    animation:moveEmoji 2s linear infinite;
}
img{
    padding:50px;
    width:50vw;
    height: 70vh;
    border-radius: 30px;
    
}
img:hover{
    transform:scale(2);
}